<?xml version="1.0" encoding="UTF-8"?>
<bulkCmConfigDataFile xmlns:un="utranNrm.xsd" xmlns:xn="genericNrm.xsd" xmlns:gn="geranNrm.xsd" xmlns:es="EricssonSpecificAttributes.14.02.xsd" xmlns="configData.xsd">
<fileHeader fileFormatVersion="32.615 V4.5" vendorName="Ericsson"/>
<configData dnPrefix="Undefined">
    <xn:SubNetwork id="$subNetworkId1">
        <xn:SubNetwork id="$subNetworkId2">
            <xn:SubNetwork id="$subNetworkId3">
                <xn:SubNetwork id="$subNetworkId4">
                    <xn:MeContext id="$nodeId">
                        <xn:ManagedElement id="$managedElementId">
                            <xn:VsDataContainer id="1" modifier="update">
                                <xn:attributes>
                                    <xn:vsDataType>vsDataENodeBFunction</xn:vsDataType>
                                    <xn:vsDataFormatVersion>EricssonSpecificAttributes</xn:vsDataFormatVersion>
                                    <es:vsDataENodeBFunction>
                                        <es:userLabel>EnodeBFunction userlabel import Live update</es:userLabel>
                                    </es:vsDataENodeBFunction>
                                </xn:attributes>
                            </xn:VsDataContainer>
                        </xn:ManagedElement>
                    </xn:MeContext>
                </xn:SubNetwork>
            </xn:SubNetwork>
        </xn:SubNetwork>
    </xn:SubNetwork>
</configData>
<fileFooter dateTime="2008-09-11T15:27:07Z"/>
</bulkCmConfigDataFile>